{# politique_confidentialite.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://fastintern-static.local/static/css/cgu.css">
    <title>{{ page_title|default('Politique Confidentialite') }}</title>
</head>
<body>
    <!-- header -->
    <header>
        <div class="logo">
            <img src="http://fastintern-static.local/static/assets/logo.png" alt="FastIntern Logo">
            <span>FastIntern</span>
        </div>
        <nav>
            <a href="/?uri=index">Accueil</a>
            <a href="#">Offres de stage</a>
            <a href="#">Candidatures</a>
            <a href="#">Entreprises</a>
            <a href="#">Contact</a>
        </nav>
        <div class="connexion">
            <button>
                <img src="http://fastintern-static.local/static/assets/person.png" alt="person_icon" class="person_icon">
                <a href="connexion.html">Mon compte</a>
            </button>
        </div>

        <div class="burger-menu" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="dropdown-menu">
            <a href="index.html">Accueil</a>
            <a href="#">Offres de stage</a>
            <a href="#">Candidatures</a>
            <a href="#">Entreprises</a>
            <a href="#">Contact</a>
        </div>

    </header>


    <!-- slogan et rectangle bleu -->
    <section class="mid-section">
        <div class="highlight">
            <img src="http://fastintern-static.local/static/assets/cloud.png" alt="Mid Section Image">
            <span>Votre stage, en un éclair !</span>
        </div>
    </section>

    <!-- Informations légales -->
    <div class="legal_container">
        <!-- Menu de gauche -->
        <div class="left-menu">
            <ul>
                <li><a href="/?uri=index">➜ Accueil</a></li>
                <li><a href="/?uri=infos_legales">Informations légales</a></li>
                <li><a href="/?uri=politique_confidentialite">Politique de confidentialité</a></li>
                <li><a href="/?uri=cgu">Conditions générales d'utilisation</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <!-- Blocs avec informations légales -->
        <div class="legal_content">
            <div class="info-block">
                <h2>Informations légales</h2>
                <p>Hellowork.com est édité par la Société HelloWork SASU</p>
                <p>Siège social</p>
                02 23 44 80 45
                <br>E-mail : contact@hellowork.com
                <br>R.C.S. RENNES 428 843 130
                <br>TVA Intra-communautaire : FR 69 428 843 130
                <br>Capital : 168.672 Euros
                <br></br>
                <p>Directeur de la Publication :</p>
                M. Jérôme Armbruster
                <br></br>

                <p>Hébergeur</p>
                Les sites sont hébergés par :
                <br><br>Claranet
                <br>24 rue du Chêne Germain
                <br>35510 Cesson-Sévigné
                <br>Tél. : 02 99 12 57 57
                <br></br>

                <p>OVH</p>
                2 rue Kellermann
                <br>59100 Roubaix
                <br>Tél. : 08 99 70 17 61
                
            </div>
        </div>
    </div>


    <!-- footer -->
    <footer>
        <div class="footer-content">

            <!-- <div class="bottom-title">
                <h1>FastIntern</h1>
            </div> -->

            <!-- Colonnes avec les liens etc -->
            <div class="footer-columns">
                <div class="footer-column">
                    <h3>L'emploi</h3>
                    <ul>
                        <li><a href="#">Offres d'emploi par ville</a></li>
                        <li><a href="#">Offres d'emploi par secteurs</a></li>
                        <li><a href="#">Offres d'emploi par entreprises</a></li>
                        <li><a href="#">Offres d'emploi par mots clés</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>L'entreprise</h3>
                    <ul>
                        <li><a href="#">Qui sommes-nous ?</a></li>
                        <li><a href="#">On recrute</a></li>
                        <li><a href="#">Accès client</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Mentions légales</h3>
                    <ul>
                        <li><a href="/?uri=mentions">Informations légales</a></li>
                        <li><a href="/?uri=cgu">CGU</a></li>
                        <li><a href="/?uri=privacy">Politique de confidentialité</a></li>
                        <li><a href="#">Aide et contact</a></li>
                    </ul>
                </div>
            </div>

            <!-- reseaux sociaux -->
            <div class="footer-social">
                <a href="#"><img src="http://fastintern-static.local/static/assets/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="http://fastintern-static.local/static/assets/x.png" alt="X"></a>
                <a href="#"><img src="http://fastintern-static.local/static/assets/linkedin.png" alt="LinkedIn"></a>
                <a href="#"><img src="http://fastintern-static.local/static/assets/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="http://fastintern-static.local/static/assets/youtube.png" alt="YouTube"></a>
            </div>
        </div>
    </footer>

<script src="script.js"></script>

</html>