/* ========================= */
/*         GLOBAL            */
/* ========================= */

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* ========================= */
/*         HEADER            */
/* ========================= */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
}

.titre-logo {
    font-size: 16px;
    margin-left: 20px;
}

.btn-retour {
    background-color: #007bb2;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.btn-retour:hover {
    background-color: #ffffff;
    color: #007bb2;
    border: 2px solid #007bb2;
}

/* ========================= */
/*         SLOGAN            */
/* ========================= */

.slogan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #65D2CF;
    height: 285px;
    padding: 0 50px;
}

.slogan img {
    height: 150px;
    margin-right: 20px;
}

.slogan h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}


/* ========================= */
/*         error         */
/* ========================= */

.error {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFE8E8;
    height: 285px;
    padding: 0 50px;
}

.error h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* ========================= */
/*     FORMULAIRE CONNEXION  */
/* ========================= */

.titre-connexion {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.welcome-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.form-connexion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ========================= */
/*       FORMULAIRE          */
/* ========================= */

label {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
    color: #007771;
    text-decoration: none;
    margin-top: 5px;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* ========================= */
/*         BOUTONS           */
/* ========================= */

.btn-connexion {
    background-color: #007bb2;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.btn-connexion:hover {
    background-color: #005177;
}
