{% extends "Pilote/layout/base.twig" %}

{% block title %}Espace Pilote{% endblock %}

{% block content %}
<div class="container">
    <h1>Espace pilote</h1>
    <p>Bienvenue, {{ session.prenom }} {{ session.nom }}.</p>
    <p>Vous êtes connecté en tant que pilote.</p>
    
    <ul>
        <li><a href="#">Gérer mes offres</a></li>
        <li><a href="#">Voir les candidatures</a></li>
    </ul>
    
    <p><a href="?uri=logout">Déconnexion</a></p>
</div>
{% endblock %}